<!DOCTYPE html>
<html>
<head>
  <title>CERTIFICADO</title>
</head>
<style type="text/css">
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
  body{font-family: 'Roboto', sans-serif;color: #fff;}
  .back{background-image: url({{ file_url(background) }});background-repeat: no-repeat;margin: 0 auto;width: 1000px;background-size: cover;height: 720px;text-align: center;padding: 30px;}
    header{padding: 100px;padding-bottom: 0;}
    header .Text{color: #fff;font-size: 25px;padding: 100px;padding-bottom: 40px;}
    .logo-Panlar img{width: 250px;margin: 0 auto;}
    .container .nombre{font-size: 50px;font-weight: 100;border-bottom: 2px solid;width: 80%;margin: 0 auto;padding-bottom: 10px;margin-bottom: 20px;}
    .container .date{font-size: larger;font-weight: 100;letter-spacing: 1px;}
    footer {display: flex;width: 70%;margin: 0 auto;margin-top: 10px;}
    footer img{width: 90%;height: auto;}
</style>
<body>
  <div class="back">
    <header>
      <div class="logo-Panlar">
        <img src="{{ file_url(logo) }}" alt="Logo Panlar">
      </div>
      <div class="Text">
        {{ message }} <strong>{{ type_approved }}</strong>
      </div>
      
    </header>

    <div class="container">
      <h2 class="nombre">{{ name_user }}</h2>
      <strong class="date">{{ date|format_date('certificado') }}</strong>
    </div>

    <div class="container">
      <strong class="date">Certificado número: {{ token|upper }}</strong>
    </div>

    <footer>
      <div>
        <img src="{{ file_url(signature_president) }}" alt="presidente" style="200px!important">
      </div>

      <!--<div>
        <img src="{{ file_url(signture_coordinator_1) }}" alt="coordinador">
      </div>

      <div>
        <img src="{{ file_url(signture_coordinator_2) }}" alt="coordinador">
      </div>-->
    </footer>
  </div>


</body>
</html>