
{% set directive_new = directive|replace({'-':'_'}) %}
<div class="{{ class }}" {{ directive }} ng-cloak ng-init="uuid_{{ directive_new }} = '{{ uuid }}'">
    <div class="main-form-recovery-pass"  style="background-image:url({{ file_url(image_login_background_url) }}); background-repeat: no-repeat;">
        <div class="image-logo__wrapper">
            <figure> 
                <img src="{{ file_url(image_logo_url) }}">
            </figure>
        </div>
        <div class="recovery-form login-form__wrapper recovery-pass">
            <form id="recoveryPass" name="recoveryPass">
                <div class="recovery-form__top recovery">
                    <h3 ng-if="step != 4">{{ config.title }}</h3>

                    <div ng-if="step == 4">
                        <div class="inner-addon leftaddon">
                            <i ng-class="(status_pass == true) ? 'icon ready' : 'icon failed'"></i>
                        </div>
                        <div class="mensaje">
                            <h4>{[{ status_pass_label }]}</h4>
                        </div>
                    </div>

                    <ul class="nav-step">
                        <li ng-class="(step == 1) ? 'active' : ''">step1</li>
                        <li ng-class="(step == 2) ? 'active' : ''">step2</li>
                        <li ng-class="(step == 3) ? 'active' : ''">step3</li>
                        <li ng-class="(step == 4) ? 'active' : ''">step4</li>
                    </ul>
                    
                    <div class="input-form">
                        <p class="message_login">{[{ message }]}</p>
                        
                        <div class="cards" ng-show="step == 1">
                            <div class="inner-addon leftaddon">
                                    <i class="icon mail"></i>
                                    <input type="text" id="card_email" name="card_email" placeholder="{{ config.mail }}" autocomplete="off" maxlength="100"
                                        ng-class="{ 'error-input-text' : !recoveryPass.card_email.$valid }"
                                        ng-model="inputCard.email">
                                        <div class="icon-load" ng-if="showLoading">
                                            <img width="50" src="../../../modules/custom/ngt_login/asset/image/loading.gif" alt="">
                                        </div>
                                        <p class="error-message-input" ng-if="!recoveryPass.card_email.$valid" ng-bind="errorMailInput"></p>
                            </div>
                        </div>

                        <div class="cards" ng-show="step == 2">
                            <div>
                                <input type="text" id="card_ping" name="card_ping" placeholder="{{ config.placeholder_code }}" autocomplete="off" maxlength="6"
                                    ng-model="inputCard.pings" 
                                    ng-class="{ 'error-input-text' : !recoveryPass.card_ping.$valid }">
                                <div class="icon-load" ng-if="showLoading">
                                    <img width="50" src="../../../modules/custom/ngt_login/asset/image/loading.gif" alt="">
                                </div>
                                <p class="error-message-input" ng-if="!recoveryPass.card_ping.$valid" ng-bind="errorPingInput"></p>
                            </div>
                        </div>

                        <div class="cards" ng-show="step == 3">
                            <div class="inner-addon leftaddon">
                                <i class="icon pass"></i>
                                <input type="password" id="pass" name="pass" placeholder="{{ config.password }}" maxlength="20" autocomplete="off"
                                    ng-model="inputCard.pass" 
                                    ng-class="{ 'error-input-text' : !recoveryPass.card_pass.$valid }">
                            </div>

                            <div class="inner-addon leftaddon">
                                <ul>
                                    <li class="criteriar-pass criteriar-{[{ key }]}"
                                        ng-repeat="(key, value) in pass_criteriar">{[{ value }]}</li>
                                </ul>
                            </div>

                            <div class="inner-addon leftaddon">
                                <i class="icon pass"></i>
                                <input type="password" id="repeat_pass" name="repeat_pass" placeholder="{{ config.repeat_password }}" maxlength="20" autocomplete="off"
                                    ng-model="inputCard.repeat_pass" 
                                    ng-class="{ 'error-input-text' : !recoveryPass.card_repeat_pass.$valid }">
                            </div>
                            
                            <div>
                                <div class="icon-load" ng-if="showLoading">
                                    <img width="50" src="../../../modules/custom/ngt_login/asset/image/loading.gif" alt="">
                                </div>
                                <p class="error-message-input" ng-if="ErrorRecoveryPass" ng-bind="errorPassInput"></p>
                            </div>
                        </div>

                        <div class="cards" ng-show="step == 4">
                            <div>
                                <p class="message_status_recovery">{[{ messageStatusRecovery }]}</p>
                            </div>
                        </div>
                    </div>
                    <div class="recovery-form__submit">
                        <div class="action-next">
                            <button 
                                ng-click="(step <= 3) ? actionNext() : actionLogin()"
                                ng-disabled="btnDisabled">{[{ txtBtnNext }]}</button>
                        </div>
                        <div class="action-return">
                            <button 
                                ng-if="step <= 3"
                                ng-click="(step <= 3) ? actionCancell() : actionReturn()"
                                ng-disabled="btnDisabled">{[{ txtBtnReturn }]}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
